<!-- Affichage de la liste des passagers -->

<mat-slide-toggle [(ngModel)]="isChecked">Photo ?</mat-slide-toggle>
<div *ngIf="!passagers || !passagers.length else passagerExist">
    Aucun passager à afficher
</div>
<ng-template #passagerExist>
    <div>
        {{ "nombre de passagers : " + passagers.length }}
    </div>
</ng-template>

<div *ngFor="let passager of passagers">
    <app-passager [passager]="passager" [displayPhoto]="isChecked"></app-passager>
</div>

