.vol-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  
    .vol-icon {
      margin-right: 10px;
    }
  
    .vol-info {
      display: flex;
      align-items: center;
      flex-grow: 1;
  
      .vol-code, .vol-icao, .vol-depart, .vol-destination {
        margin: 0 10px;
      }
  
      .vol-arrow {
        margin: 0 5px;
      }
  
      .compagnie-logo {
        height: 20px;
        margin-left: 10px;
      }
    }
  }
  