<div class="vol-container" (click)="onSelectVol()">
  <div class="vol-icon">
    <mat-icon>{{ type === 'atterrissages' ? 'flight_land' : 'flight_takeoff' }}</mat-icon>
  </div>
  <div class="vol-info">
    <span class="vol-icao">{{ vol.icao }}</span>
    <span class="vol-code">{{ vol.matricule }}</span>
    <span class="vol-depart">
      {{ vol.aeroportDepart }}
      <mat-icon class="vol-arrow">arrow_right_alt</mat-icon>
      <span class="vol-destination">{{ vol.aeroportArrivee || 'Inconnu' }}</span>
    </span>
    <img [src]="getLogo(vol.compagnie)" class="compagnie-logo" alt="{{ vol.compagnie }}">
  </div>
</div>
