<div class="passager-container">
  <ng-container *ngIf="displayPhoto">
    <img [src]="passager.image" alt="{{ passager.nom }}" class="passager-image">
  </ng-container>
  <div class="passager-info">
    <span class="passager-nom">{{ passager.nom }}</span>
    <span class="passager-classe" [appClasseVolColor]="passager.classeVol">{{ passager.classeVol }}</span>
    <span class="passager-bagages" [appBagageValide]="passager.nbBagagesSoute" [classeVol]="passager.classeVol">💼x{{ passager.nbBagagesSoute }}</span>
  </div>
</div>
