.passager-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.passager-photo {
  margin-right: 10px;
}

.passager-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.passager-info {
  display: flex;
  flex-direction: column;
}

.passager-nom {
  font-weight: bold;
}

.passager-classe {
  color: var(--classe-color);
}

.passager-bagages {
  display: flex;
  align-items: center;

}
